<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SecureAuthApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureAuthentication"
        tools:targetApi="31">

        <activity
            android:name=".ui.view.OTPActivity"
            android:exported="false" />

        <meta-data
            android:name="com.hcaptcha.sdk.site-key"
            android:value="5db8f116-3dd2-4f4a-a392-1966f3680a80" />

        <activity
            android:name=".ui.view.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.AuthOptionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>